.boxgrid {
    display: grid; /* Enables CSS Grid */
    grid-template-columns: repeat(4, 1fr); /* Responsive columns */
    grid-gap: 10px; /* Adds space between items */
    padding: 10px;
    background-color: #E9F1FA;
    max-width: 100%; /* Prevent exceeding the width of the viewport */
    max-height: 100vh;
}

.prbutton {
    font-size: 2em;
    border: 1px solid black;
    background-image: url('./laptop.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    font-family: sans-serif;
    text-decoration: none;
    margin: 20px; /* Adds margin around buttons */
    transition: transform 0.3s ease; /* Smooth transition */
    /* display: flex;
    align-items: center;
    justify-content: center; 
    height: 150px;
    color: white;  */
}

.prbutton a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from button */
}

.prbutton:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 1;
}

.small, .medium, .large {
    -webkit-background-clip: text; /* Clips the background to the text */
    background-clip: text; /* Standard background clip */
    text-shadow: 2px 2px 5px #00203a;
    font-weight: bold;
    color: #E9F1FA; /* Default text color */
}

@keyframes changePositionS {
    0% { transform: translate(0%, 0%); }
    25% { transform: translate(-30%, -80%); }
    50% { transform: translate(30%, -80%); }
    75% { transform: translate(30%, 80%); }
    100% { transform: translate(-30%, 80%); }
}

.small:hover { animation: changePositionS 6s alternate ease-in-out infinite; }

@keyframes changePositionM {
    0% { transform: translate(0%, 0%); }
    25% { transform: translate(-25%, -85%); }
    50% { transform: translate(25%, -85%); }
    75% { transform: translate(25%, 85%); }
    100% { transform: translate(-25%, 85%); }
}

.medium:hover { animation: changePositionM 6s alternate ease-in-out infinite; }

@keyframes changePositionL {
    0% { transform: translate(0%, 0%); }
    25% { transform: translate(-18%, -85%); }
    50% { transform: translate(17%, -85%); }
    75% { transform: translate(17%, 85%); }
    100% { transform: translate(-18%, 85%); }
}

.large:hover { animation: changePositionL 6s alternate ease-in-out infinite; }

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .prbutton {
        font-size: 1.5em; /* Decrease font size for medium screens */
        height: 120px; /* Adjust button height */
    }
    .boxgrid {
        grid-template-columns: repeat(3, 1fr); /* 3 items per row on small screens */
    }
}

@media (max-width: 480px) {
    .prbutton {
        font-size: 1.2em; /* Further decrease font size for small screens */
        height: 100px; /* Adjust button height */
    }

    .boxgrid {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on small screens */
    }
}
